@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-2">
        <form action="/products" method="POST">
            <input type="text" name="filter" /><br/>
            <input type="submit" value="Filter" />
        </form>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                @foreach(Product prod in Model.Products) {
                    @:<div class="col-md-3">
                        @:<img src="@prod.Image" width="160px" /><br/>
                            @prod.Name
                        @:<br/>(
                            @prod.Quantity
                        @:left)
                    @:</div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <br/><a href="/products">Show More ...</a><br/><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <u>Recent Orders</u><br/>
                @foreach(Order ord in Model.Orders) {
                    @ord.Customer.Name 
                    @: Purchased 
                    @ord.Quantity
                    @ord.Product.Name
                    @:<br/>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <br/><a href="/orders">Show More ...</a><br/><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <u>New Customers</u><br/>
                <ul>
                @foreach(Customer cust in Model.Customers) {
                    @:<li>
                    @cust.Name 
                    @: joined the store
                    @:</li>
                }
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <br/><a href="/customers">Show More ...</a><br/><br/>
            </div>
        </div>


    </div>
</div>